Language: Cpp
BasedOnStyle: LLVM  

Cpp11BracedListStyle: false

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterStruct: true
  AfterFunction: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterUnion: true
  BeforeElse: true
  BeforeCatch: true
  IndentBraces: false
  SplitEmptyRecord: false
  SplitEmptyFunction: false

AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
IndentCaseLabels: false

IndentWidth: 4
TabWidth: 4
UseTab: Never

PointerAlignment: Left
ReferenceAlignment: Left

AlwaysBreakTemplateDeclarations: Yes
SpaceAfterTemplateKeyword: true

AccessModifierOffset: -4
...
